COLLECTOR_DB_PASSWORD=REPLACE_RANDOM
COLLECTOR_REDIS_PASSWORD=REPLACE_RANDOM
DATABASE_URL=postgresql+asyncpg://collector:REPLACE_RANDOM@timescaledb:5432/collector
REDIS_URL=redis://:REPLACE_RANDOM@redis:6379/0
API_KEY=REPLACE_PRIVATE_API_KEY
